@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow: hidden;
  --dark-color: #242b39bb;
  --light-color: #eceff4bb;
  background: rgb(230, 85, 85);
  background: linear-gradient(
    45deg,
    rgba(230, 85, 85, 1) 0%,
    rgba(157, 51, 140, 1) 46%,
    rgba(56, 0, 77, 1) 100%
  );
}

body {
  color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
