@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow: hidden;
  --dark-bg-color: #242b39bb;
  --light-bg-color: #eceff4bb;
  --dark-text-color: #ffffff;
  --light-text-color: #2e3440;
  background: rgb(230, 85, 85);
  background: linear-gradient(
    45deg,
    rgba(230, 85, 85, 1) 0%,
    rgba(157, 51, 140, 1) 46%,
    rgba(56, 0, 77, 1) 100%
  );
}

body {
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .icon-tip {
    @apply relative flex items-center justify-center mx-3 before:px-3 before:py-1 before:absolute hover:before:top-full hover:before:opacity-100 before:top-0 before:opacity-0 before:rounded-md before:z-40 before:text-white before:transition-all before:w-full before:overflow-hidden before:font-bold;
  }
}
