#about
  width: 80%
  height: 500px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: rgba(24, 26, 27, 0.9)
  border-radius: 20px
  transition: all .5s
  p
    padding: 20px 40px
    color: #ffff

  h1
    text-align: center
    color: #ffff

  box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px

  &:hover
    top: 49%
    box-shadow: rgb(0 0 0 / 30%) 0px 15px 25px

#contact
