.home h1
    text-align: center
    color: #ffff
    transition: all .4s
    font-size: 6vw
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    background: linear-gradient(6deg, rgba(233, 0, 192, 1)12%, rgba(255, 255, 0, 0.8)81%)
    background: -moz-linear-gradient(6deg, rgba(233, 0, 192, 1)12%, rgba(255, 255, 0, 0.8)81%)
    background: -webkit-linear-gradient(6deg, rgba(233, 0, 192, 1)12%, rgba(255, 255, 0, 0.8)81%)
    background: -o-linear-gradient(6deg, rgba(233, 0, 192, 1)12%, rgba(255, 255, 0, 0.8)81%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    &:hover
        font-size: calc(6vw + 30px)
